<div>
  <%= link_to user_path(post.user) do %>
    <% if post.user.user_image.attached? %>
        <%= image_tag post.user.user_image, size: "60x60", class: "rounded-circle col-auto mx-auto mb-3" %>
      <% else %>
        <%= image_tag 'no_image', size: "60x60", class: "rounded-circle col-auto mx-auto mb-3" %>
    <% end %>
  <% end %>
  <%= post.user.name %>
</div>

<% if post.post_image.attached? %>
  <%= image_tag post.post_image, size: "200x200" %>
<% end %>
<div>
  <p>タイトル</p>
  <%= link_to post_path(post) do %>
    <%= post.title %>
      <% end %>
</div>

<div>
  <p>投稿内容</p>
  <%= post.body %>
</div>