<div>
  <% if admin_signed_in? %>
    <%= link_to admin_user_path(post.user) do %>
      <%= image_tag post.user.get_user_image(50, 50), class: "rounded-circle mx-auto mb-3" %>
    <% end %>
  <% else %>
    <%= link_to user_path(post.user) do %>
      <%= image_tag post.user.get_user_image(50, 50), class: "rounded-circle mx-auto mb-3" %>
    <% end %>
  <% end %>
  <%= post.user.name %>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  <%= link_to post_path(post) do %>
    <i class="fa-regular fa-comment text-info"> <%= post.comments.count %></i><br>
  <% end %>
  <p id="favorite_btn_<%= post.id %>">
    <%= render "public/favorites/btn", post: post %>
  </p>
</div>

<% if controller_name != 'posts' || action_name != 'show' %>
  <%= link_to post_path(post) do %>
    <div class="mb-2">
      <% if post.post_image.attached? %>
        <%= image_tag post.post_image, style: "max-width: 300px; height: auto;" %>
      <% end %>
    </div>
    <div class="mb-5">
      <%= post.title %>
    </div>
  <% end %>
<% else %>
  <div class="mb-2">
    <% if post.post_image.attached? %>
      <%= image_tag post.post_image, style: "max-width: 300px; height: auto;" %>
    <% end %>
  </div>
  <div class="mb-5">
    <%= post.title %>
  </div>
<% end %>
投稿の内容の感情結果(-1.0～1.0)<br>
<%= post.score %>
<div class="border-top my-4"></div>