<%= render 'layouts/search' %>
<div class="container text-center">
  <div>
    <%= render 'public/posts/posts', post: @post %>
  </div>
  <div>
    <h4>投稿内容</h4>
    <p class="body"><%= @post.body %></p>
  </div>

  <div>
    <%= render "public/relationships/follow", user: @user %>
  </div>

  <div class="mb-3">

    <div>
      <% if admin_signed_in? %>
        <%= link_to "削除", admin_post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "本当に消しますか？" } %>
      <% elsif @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %>
        <%= link_to "削除", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "本当に消しますか？" } %>
      <% end %>
    </div>
  </div>
    
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <div id="post_comments">
       <%= render "public/comments/comments", comments: @comments %>
      </div>
      <div class="mt-4">
        <%= paginate @comments %>
        <% if user_signed_in? %>
          <div class="border-top my-4"></div>
          <h3>コメント</h3>
          <div id ="comments-error"></div>
          <div id="comment_form">
            <%= render "public/comments/form", post: @post, comment: @comment %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>