<%= render 'layouts/search' %>
<%= render 'layouts/alert'%>
<div class="container text-center">
  <div>
    <%= link_to user_path(@post.user) do %>
      <%= image_tag @post.user.get_user_image(60, 60), class: "rounded-circle mb-3" %>
    <% end %>
    <%= @post.user.name %>
    
  </div>
  <div class="mb-3">
    <% if @post.post_image.attached? %>
      <%= image_tag @post.post_image, style: "max-width: 300px; height: auto;" %>
    <% end %>
  </div>
  <div>
    <h4>タイトル</h4>
    <p><%= @post.title %></p>
  </div>
  <div>
    <h4>投稿内容</h4>
    <p class="body"><%= @post.body %></p>
  </div>
  
  <div class="row">
    <div class="col"></div>
    <% if @post.user == current_user %>
      <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
    <% end %>
    <div class="col-1"></div>
    
    <% if @post.user == current_user %>
      <%= link_to "削除する", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "本当に消しますか？" } %>
    <% end %>
    
    <div class="col"></div>
  </div>
  
</div>