<%= render 'layouts/search' %>
<div class="container text-center">
  <h2>検索結果</h2>

  <% if @range == "user" %>
    <div class="row justify-content-center">
      
      <% if admin_signed_in? %>
        <%= render "admin/users/index", users: @users %>
      <% else %>
        <%= render "public/users/index", users: @users %>
      <% end %>
      
    </div>
    <%= paginate @users %>
  <% else %>
    <!-- 検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <% @posts.each do |post| %>
      <%= render 'public/posts/posts', post: post %>
    <% end %>
  <% end %>
</div>