<%= render 'layouts/search' %>
<div class="container text-center">
  <h2>検索結果</h2>

  <% if @range == "user" %>
    <div class="row justify-content-center">
      
      <% if admin_signed_in? %>
        <table class="table table-hover" style="font-size: clamp(8px, 2vw, 15px);">
          <thead style="background-color: #B3ECFA;">
            <tr>
              <th></th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody style="line-height: 50px;">
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to admin_user_path(user) do %>
                    <%= image_tag user.get_user_image(50, 50), class: "rounded-circle d-block" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to user.name, admin_user_path(user) %>
                </td>
                <td><%= user.email %></td>
                <td>
                  <% if user.is_active %>
                    <strong class="text-success">有効</strong>
                  <% else %>
                    <strong class="text-muted">退会</strong>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div>
          <table class="table table-hover text-left">
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to user_path(user.id) do %>
                      <%= image_tag user.get_user_image(50, 50), class: "rounded-circle" %>
                    <% end %>
                  </td>
                  <td style="line-height: 50px;">
                    <%= link_to user.name, user_path(user.id) %>
                  </td>
                  <td>
                    <%= render "public/relationships/follow", user: user %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      
    </div>
    <%= paginate @users %>
  <% else %>
    <!-- 検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <% @posts.each do |post| %>
      <%= render 'public/posts/posts', post: post %>
    <% end %>
  <% end %>
</div>