<%= flash[:notice] %>
<div class="container text-center">
  <div>
    <div>
      <%= image_tag "header2", size: "250x250"%>
    </div>
  </div>
  
  <div>
    <div class="my-5">
      <h3>about</h3>
      <p>子供が生まれ、毎日癒されている反面、想像より100倍大変でイライラしてしまったり、<br>
        子供のことで奥さんと意見のすれ違いで喧嘩してしまったり...。<br>
        そこで、パパさん用のSNSを作り、他のパパさんたちはどのように育ててきたのか。<br>
        また、子供の成長を記録する日記を作り、それを共有したり意見を交換し合うことで<br>
        少しでも子育ての助けになれば幸いです。
      </p>
    </div>
  </div>
  
  <div class="my-5">
    <h1>Father_Clubの使い方</h1>
  </div>
  <div>
    <%= image_tag "top1", size: "150x150", class:"mb-3"%>
  </div>
  <div>
    <h3>その１、まずはみんなの投稿を見てみよう</h3>
    <p><%= link_to '投稿一覧', posts_path%>からみんなの投稿を見てみよう<br>
      もしかしたら同じ悩みを抱えていたり、解決方法が見つかるかも！</p>
  </div>
  
  <div class="my-5">
    <div>
      <%= image_tag "top2", size: "150x150", class:"mb-3"%>
    </div>
    <h3>その２、新規登録をして投稿してみよう</h3>
    <p>日々悩んでいる事や、発見したことを投稿してみんなに共有してみよう</p>
  </div>
  
  <div class="my-5">
    <div>
      <%= image_tag "top3", size: "150x150", class:"mb-3"%>
    </div>
    <h3>その３、投稿にいいね、コメントしてみよう</h3>
    <p>自分のアイデアや解決方法が誰かの為になるかも！</p>
  </div>
  
  <div class="my-5">
    <div>
      <%= image_tag "top4", size: "150x150", class:"mb-3"%>
    </div>
    <h3>最後に、ルールを守り、思いやりのある行動をしよう</h3>
    <p>投稿した内容、コメントは第三者が見ても不快に思わない内容にしよう</p>
  </div>
    
</div>
