<div class="container text-center">
  <div class="row">
    <h2 class="col-auto mx-auto px-4 mb-5">管理者ユーザー編集</h2>
  </div>
  
  <div class="mb-3">
    <%= image_tag @user.get_user_image(100, 100), class: "rounded-circle mx-auto d-block mb-3" %>
  </div>
  <h4 class="mb-3">
    <%= @user.name %>
  </h4>
  <div>
    <h4 class="mb-3">メールアドレス</h4>
    <h4 class="mb-3"><%= @user.email %></h4>
  </div>
  <h4 class="mb-3">
    <%= @user.introduction %>
  </h4>
  <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
    <div class="col-form-label-lg">
      <h4>
        <%= f.label :is_active, '会員ステータス' %>
      </h4>
      <div>
        <%= f.radio_button :is_active, true, checked: @user.is_active == true %>
        <%= f.label :is_active, '有効' %>
        <%= f.radio_button :is_active, false, checked: @user.is_active == false %>
        <%= f.label :is_active, '退会' %>
      </div>
    </div>
    <div class="row my-3">
      <%= f.submit '更新する', class: 'btn btn-primary col-auto mx-auto' %>
    </div>
  <% end %>
</div>