<%= notice %>
<div class="container">
  <div class="row">
    <h2 class="col-auto mx-auto px-4 mb-5">マイページ編集</h2>
  </div>
  
  <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
    <div class="row">
      <div class="col-3"></div>
      <table class="table table-bordered col-6">
        <tbody>
          <tr>
            <td class="col-3" style="background-color: #B3ECFA;">プロフィール画像変更</td>
            <td class="col-4"><%= f.file_field :user_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td style="background-color: #B3ECFA;">ニックネーム</td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", size: "30"%></td>
          </tr>
          <tr>
            <td style="background-color: #B3ECFA;">メールアドレス</td>
            <td><%= f.text_field :email, autofocus: true, autocomplete: "email", size: "30"%></td>
          </tr>
          <tr>
            <td style="background-color: #B3ECFA;">紹介文</td>
            <td><%= f.text_area :introduction, autofocus: true, size: "30"%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row my-3">
    <%= f.submit '更新する', class: 'btn btn-primary col-auto mx-auto' %>
    </div>
  <% end %>
  <div class="row my-3">
    <%= link_to "退会する", users_confirm_path(@user), class: "btn btn-danger col-auto mx-auto" %>
  </div>
</div>