<%= notice %>
<div class="container text-center">
  <div class="row">
    <% if @user.user_image.attached? %>
    <%= image_tag @user.user_image, size: "100x100", class: "rounded-circle col-auto mx-auto mb-3" %>
    <% else %>
      <%= image_tag 'no_image', size: "100x100", class: "rounded-circle col-auto mx-auto mb-3" %>
    <% end %>
  </div>

  <div>
    <h2 class="col-auto mx-auto mb-3"><%= @user.name %></h2>
    <h3>紹介文</h3>
    <h4 class="mb-5"><%= @user.introduction%></h4>
    <h3>メールアドレス</h3>
    <h4 class="mb-5"><%= @user.email %></h4>
  </div>
  
  <div>
    <% if @user == current_user %>
      <%= link_to "編集する", edit_user_path(@user), class:"btn btn-success mb-5" %>
    <% end %>
  </div>
  <div>
    <%= link_to user_posts_path(@user), class: "btn btn-info" do %>
    <%= @user.name %>の投稿一覧
    <% end %>
  </div>
</div>