<!DOCTYPE html>
<html>
  <head>
    <title>Father_Club</title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4eba34043b.js" crossorigin="anonymous"></script>
  </head>

  <body style="background-color: #EEFFFF;">
    <header class="container-fluid fixed-top w-100" style="background-color: #B3ECFA;">
      <div class="row d-flex justify-content-between align-items-center">
        <% if admin_signed_in? %>
          <div class="col" style="font-size: clamp(13px, 4vw, 24px);">
            <p class="text-center">管理者画面</p>
          </div>
          <div class="col-5 d-flex justify-content-center">
            <%= link_to root_path do %>
              <%= image_tag "header.png", class: "col-auto mx-auto img-fluid" %>
            <% end %>
          </div>
          <div class="col d-flex justify-content-end" style="padding-right: 0px; font-size: clamp(11px, 3vw, 20px);">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-info" %>
            <div class="col-1"></div>
          </div>
        <% elsif user_signed_in? %>
          <div class="col">
            <%= link_to user_path(current_user.id) do %>
              <%= image_tag current_user.get_user_image(50, 50), class: "rounded-circle d-block ml-3" %>
            <% end %>
          </div>
          <div class="col-5 d-flex justify-content-center">
            <%= link_to root_path do %>
              <%= image_tag "header.png", class: "col-auto mx-auto img-fluid" %>
            <% end %>
          </div>
          <div class="col d-flex justify-content-end" style="padding-right: 0px; font-size: clamp(11px, 3vw, 20px);">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-info" %>
            <div class="col-1"></div>
          </div>
        <% else %>
          <div class="col"></div>
          <div class="col-5 d-flex justify-content-center">
            <%= link_to root_path do %>
              <%= image_tag "header.png", class: "col-auto mx-auto img-fluid" %>
            <% end %>
          </div>
          <div class="col d-flex justify-content-end" style="padding-right: 0px; font-size: clamp(13px, 3vw, 20px);">
            <%= link_to "ログイン", new_user_session_path, class: "text-info" %>
            <div class="col-1"></div>
          </div>
        <% end %>
      </div>
    </header>
    <main class="mb-auto" style="margin-top: 100px; padding-bottom: 60px;">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </main>

    <footer class="footer fixed-bottom" style="background-color: #B3ECFA;">
      <div class="container mt-3">
        <nav class="row">
          <div class="col px-0">
            <ul class="d-flex justify-content-center list-unstyled">
              <% if admin_signed_in? %>
                <li class="mx-3">
                  <%= link_to posts_path do %>
                    <i class="fa-solid fa-house" style="color: white;"> 一覧</i>
                  <% end %>
                </li>
                <li class="mx-3">
                  <%= link_to admin_users_path do %>
                    <i class="fa-solid fa-plus" style="color: white;"> ユーザー一覧</i>
                  <% end %>
                </li>
              <% elsif user_signed_in? %>
                <li class="mx-3">
                  <%= link_to user_favorites_path(current_user.id) do %>
                    <i class="fa-solid fa-heart" style="color: #ffffff; font-size: clamp(11px, 2vw, 15px);"> お気に入り</i>
                  <% end %>
                </li>
                <li class="mx-3">
                  <%= link_to posts_path do %>
                    <i class="fa-solid fa-house" style="color: white; font-size: clamp(11px, 2vw, 15px);"> 一覧</i>
                  <% end %>
                </li>
                <li class="mx-3">
                  <%= link_to new_post_path do %>
                    <i class="fa-solid fa-plus" style="color: white; font-size: clamp(11px, 2vw, 15px);"> 新規投稿</i>
                  <% end %>
                </li>
                <li class="mx-3">
                  <%= link_to notifications_path do %>
                    <i class="fa-sharp fa-solid fa-bell" style="color: white; font-size: clamp(11px, 2vw, 15px);">
                      通知一覧
                      <% if @unread_notifications_count > 0 %>
                        <span class="badge badge-pill badge-danger"><%= @unread_notifications_count %></span>
                      <% end %>
                    </i>
                  <% end %>
                </li>
              <% else %>
                <li class="mx-3">
                  <%= link_to posts_path do %>
                    <i class="fa-solid fa-house" style="color: white;"> 一覧</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </footer>
  </body>
</html>